html {
  position: relative;
  min-height: 100%;
}

body {
  background-image: url("/static/imgs/bck02.png");
  background-repeat: no-repeat;
  background-size: 45%;
  background-attachment: fixed;
  background-position: right bottom;
  background-color: rgba(255,255,255,0.6);
  background-blend-mode: lighten;
  margin-bottom: 40px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
}