{% extends "base.html" %}
{% load static %}

{% block title %}
AutoImports: AutoMoney
{% endblock %}

{% block content %}

{% if user.is_authenticated %}
<div class="container mt-5">
  <h4 class="mb-4"><i class="fas fa-hand-holding-usd"></i> Módulo Contabilidade <small
      class="text-muted">AutoMoney&trade;</small></h4>
  <div class="row">
    <div class="col-auto mb-3">
      <div class="card text-center" style="width: 16rem;">
        <div class="card-body">
          <form id="extrato" method="get" action="">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="far fa-calendar-minus"></i></span>
              </div>
              <input required type="date" name="since" max="31-12-2050" min="01-01-2000" class="form-control">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><i class="far fa-calendar-plus"></i></span>
              </div>
              <input required type="date" name="until" min="01-01-2000" max="31-12-2050" class="form-control">
            </div>
            {% csrf_token %}
            <div class="input-group">
              <select class="custom-select" id="tipo" onChange="this.form.action();">
                <option selected value="none">Extrato...</option>
                <option value="venda">Vendas</option>
                <option value="compra">Compras</option>
                <option value="balanco">Balanço</option>
              </select>
              <div class="input-group-append">
                <button id="submitForm" class="btn btn-outline-secondary" type="submit">Gerar</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col">
      <p>Módulo capaz de gerir as informações de compra e venda de equipamentos e peças automotivas.</p>
      <p>Gera um extrato contendo todas as informações de compra e venda ocorridas em um determinado período.</p>
    </div>
  </div>
</div>
{% else %}
{% include "automoney/restrito.html" %}
{% endif %}

<!-- Modal -->
<div class="modal fade" id="alertaerro" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Sistema AutoMoney&trade;</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body alert-warning">
        Selecione o tipo de extrato: <strong>Vendas</strong>, <strong>Compras</strong> ou <strong>Balanço</strong>.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block jsupdate %}
<script>
  $('#submitForm').click(function () {
    let rdd = $('#tipo').val();
    if (rdd == "none")
      $('#alertaerro').modal();
  });
  $("#tipo").change(function () {
    var action = $(this).val();
    $("#extrato").attr("action", action + "/");
  });
</script>
{% endblock %}